main {
    background-color: #7cffd2;
}

:root {
    --cell-size: 50px;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.grid-container .cell.even {
    background-color: #1333bf;
}

.grid-container .cell.odd {
    background-color: #6175d1;
}